<div class="contact-clean">
  <div class="body-margin">
    <h2 class="text-center">商品検索画面</h2>
    <div class="text-margin">
      <label for="name1">キーワードを入力してください</label><br>
      <input name="textBox1" id="search_word_text" size="30" type="text" value="" placeholder="例）ナイキ　黒"/><br>
    </div>
    <div class="text-margin">
      <label for="name1">検索条件を選択してください</label><br>
      <form id="target">
      	<input id="rakuten_check" name="site" type="checkbox" value="【rakuten:"> 楽天ショッピング<br>
        <div class="select-margin">
          <select disabled id="rakuten_genre">
            <% @rakuten_list.each do | key,value |%>
              <option value=<%=key%>><%=value%></option>
            <% end %>
          </select>
          <br>
        </div><br>
        <input id="yahoo_check" name="site" type="checkbox" value="【yahoo:"> Yahooショッピング<br>
        <div class="select-margin">
          <select disabled id="yahoo_genre">
            <% @yahoo_list.each do | key,value |%>
              <option value=<%=key%>><%=value%></option>
            <% end %>
          </select>
        </div>
      </form>
    </div>
    <button class="search_button" onclick='clicked()'>商品検索</button>
  </div>
</div>

<script>
  liff.init(
    data => {
      // Now you can call LIFF API
      const userId = data.context.userId;
      liff.getProfile()
      .then(profile => {
        document.getElementById('user_name').innerText = 'Name : ' + profile.displayName;
        const name = profile.displayName
        document.getElementById('user_photo').src = profile.pictureUrl;
      })
      .catch((err) => {
        console.log('error', err);
      });

    },
    err => {
      // LIFF initialization failed
    }
  );
</script>
