 <nav>
  <div class="nav-wrapper">
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <a href="#" class="brand-logo">Food Record</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "飲食店登録",'#',class: "breadcrumb" %></li>
      <li><%= link_to "飲食店一覧",'#', class: "breadcrumb" %></li>
      <li><%= link_to "ログアウト", "#", class: "breadcrumb" %></li>
    </ul>
  </div>
</nav>